<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.min.css" />
    <title>Регистрация заявки</title>
</head>

<body class="background-site">
    <header class="header">
        <div class="container">
          <div class="header__nav">
            <div class="header__logo-img">
              <img class="header__logo" src="../img/logo1.svg" alt="" />
            </div>
            <div>
              <nav>
                <ul class="header__nav-list">
                  <li class="header__nav-item">
                    <a href="../index.html" class="btn">Главная</a>
                  </li>
                  <li class="header__nav-item">
                    <a href="#" class="btn">О нас</a>
                  </li>
                  <li class="header__nav-item">
                    <a href="../components/registration_forms.html" class="btn"
                      >Регистрация</a
                    >
                  </li>
                  <li class="header__nav-item">
                    <a href="../components/login_form.html" class="btn">Вход</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <hr class="line_bk" />
    <section class="form-list-application">
        <div class="container">
            <div class="container-list-application">
                <h1 class="form-list-application-title">
                    Редактирование заявки
                </h1>
                <form action="#" method="post">
                    <div class="container-list-application-flex">
                        <div class="container-list-application-br">
                             <h4 class="container-list-application-text">Дата регистрации:</h4>
                            <input class="input_form_list" type="date" value="2023-02-01">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Статус заявки:</h4>
                            <input class="input_form_list" type="text" placeholder="Приняты">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Тип устройства:</h4>
                            <input class="input_form_list" type="text" placeholder="Компьютер">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Модель устройства:</h4>
                            <input class="input_form_list" type="text" placeholder="Компьютер">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Имя клиента:</h4>
                            <input class="input_form_list" type="text" placeholder="Иванов Иван Иванович">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Номер телефона:</h4>
                            <input class="input_form_list" type="text" placeholder="+(996)-000-000-000">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Мастер:</h4>
                            <input class="input_form_list" type="text" placeholder="Петров Петр Васильевич">
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Для мастера:</h4>
                            <p><textarea  class="input_form_list textarea_com" name="comment" placeholder="Введите ваш комментарий"></textarea></p>
                        </div>
                        <div class="input_form_list_submit_end">
                            <div class="checkbox_center">
                                <input type="checkbox" id="scales" name="scales">
                                <label class="checkbox_text_labal" for="scales">Принять заявку</label>
                            </div>
                            <input class="btn input_form_list_submit" type="submit" value="Редоктирвать">
                        </div>               
                    </div>
                </form>
            </div>
            
        </div>  
    </section>
</body>

</html>