<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.min.css" />
    <title>Регистрация заявки</title>
</head>

<body class="background-site">
    <header class="header">
        <div class="container">
          <div class="header__nav">
            <div class="header__logo-img">
              <img class="header__logo" src="../img/logo1.svg" alt="" />
            </div>
            <div>
              <nav>
                <ul class="header__nav-list">
                  <li class="header__nav-item">
                    <a href="../index.html" class="btn">Главная</a>
                  </li>
                  <li class="header__nav-item">
                    <a href="#" class="btn">О нас</a>
                  </li>
                  <li class="header__nav-item">
                    <a href="../components/registration_forms.html" class="btn"
                      >Регистрация</a
                    >
                  </li>
                  <li class="header__nav-item">
                    <a href="../components/login_form.html" class="btn">Вход</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <hr class="line_bk" />
    <section class="form-list-application">
        <div class="container">
            <div class="container-list-application">
                <h1 class="form-list-application-title">
                    Лист заявки <span class="form-list-application-title_span">№ 1</span>
                </h1>
                <form action="#" method="post">
                    <div class="container-list-application-flex">
                        <div class="container-list-application-br">
                             <h4 class="container-list-application-text">Дата регистрации:</h4>
                            <p class="list_application_p">01.01.2023</p>
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Статус заявки:</h4>
                            <p class="list_application_p">Принята</p>
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Тип устройства:</h4>
                            <p class="list_application_p">Компьютер</p>
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Модель устройства:</h4>
                            <p class="list_application_p">Компьютер</p>
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Имя клиента:</h4>
                            <p class="list_application_p">Иван Иванов Иванович</p>
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Номер телефона:</h4>
                            <p class="list_application_p">+(996)-000-000-000</p>
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Мастер:</h4>
                            <p class="list_application_p">Иванов Иван Иванович</p>
                        </div>
                        <div class="container-list-application-br">
                            <h4 class="container-list-application-text">Для мастера:</h4>
                            <p class="list_application_p list_application_p_com">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Ipsum voluptate earum quia explicabo repudiandae qui nostrum 
                                voluptates ad officia? Consequatur aliquam distinctio reprehenderit 
                                ab consectetur similique voluptas consequuntur excepturi voluptatem.
                            </p>
                        </div>
                        <div class="input_form_list_submit_end_application">
                            <input class="btn input_form_list_submit_application" type="submit" value="Изменить">
                            <input class="btn input_form_list_submit_application" type="submit" value="Распечатать">
                            <input class="btn input_form_list_submit_application" type="submit" value="Связаться">
                        </div>               
                    </div>
                </form>
            </div>
            
        </div>  
    </section>
</body>

</html>